.info-card {
background: url('src/assets/home-green.jpeg');
cover:fit;
  padding: 15px;
  border-radius: 8px;
  width:240px;
  height:280px;
  overflow:hidden;
  border: 1px solid white;
  margin: 50px;
}

.info-card h3 {
  margin-top: 20px;
}

.info-card p {
  margin: 5px 0;
}

