#root {
}

.ui-map-style{
  display:flex;
}


h1{
  margin-bottom: 20px;
  background: url('src/assets/home-green.jpeg');
  background-size: 
  white;
   padding-left: 20px;
   padding:20px;
   text-align: center;
   border-radius: 10px;
}